WebApplicationSonda/Connected Services/ServicioSonda/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:55860/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Entidades" />
  <xs:element name="ConsultarMedicos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="intIdEspecialidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMedicosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/AccesoDatos.Entidades" minOccurs="0" name="ConsultarMedicosResult" nillable="true" type="q1:ArrayOfBEMedicos" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>