WebApplicationSonda/Connected Services/ServicioSonda/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AccesoDatos.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AccesoDatos.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBEMedicos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BEMedicos" nillable="true" type="tns:BEMedicos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBEMedicos" nillable="true" type="tns:ArrayOfBEMedicos" />
  <xs:complexType name="BEMedicos">
    <xs:sequence>
      <xs:element minOccurs="0" name="idMedico" type="xs:int" />
      <xs:element minOccurs="0" name="nombreMedico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BEMedicos" nillable="true" type="tns:BEMedicos" />
</xs:schema>